.titulos{
    display: flex;
    font-family: 'Fredoka', sans-serif; 
    font-size: 5rem;
    color: rgb(53, 53, 199);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    
}
.logo{
    display: flex;
    font-family: 'Fredoka', sans-serif; 
    font-size: 2rem;
    font-weight: 600;
    color: rgb(7, 7, 97);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-decoration: none;
}
.logo:hover{
    background-color: azure;
    border-radius: 1rem;
    text-shadow: #051927 2rem;
}
.navegacion{
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));


}

.botones1{
    font-family: 'Fredoka', sans-serif; 
    color: rgb(24, 24, 71);
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
}
.botones1:hover{
    background-color: #e6f0f7;
    box-shadow: .2rem .2rem .2rem gray;
    border-radius: .1rem;
    
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    
    
}

.boton{
    border:none;
    border-radius: .5rem;
    background: rgb(56,88,214);
    background: linear-gradient(90deg, rgba(56,88,214,1) 0%, rgba(45,77,203,1) 70%, rgba(42,74,200,1) 100%);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: .15rem .15rem .15rem rgb(142, 130, 248);
    color: #ffff;
    font-family: 'Fredoka', sans-serif; 
    font-size: 1rem;
    font-weight: 600;
}

.boton:active{

    color: #ffff;
    background-color:#051927 ;
}
.boton:hover{
    background: rgb(38, 59, 145);
    background: linear-gradient(90deg, rgb(39, 60, 146) 0%, rgb(32, 54, 145) 70%, rgb(18, 41, 131) 100%);

}

.div-imagencuerpo{
    display: flexbox;
    overflow: hidden;
    width: 65rem;
    height: 100%;
    position: relative;
    z-index: -1;
    clip-path: inset(0 22% 0 22%);
    margin-right: 1rem;
}


.titulocuerpo{
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Fredoka', sans-serif; 
    font-size: 4rem;
    font-weight: 1000;
    color: rgb(7, 7, 97);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));


}
.textocuerpo{
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(165, 165, 218);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
   
}
.div-cuerpo{

    display: flex;
    flex-direction: column; 
    margin-left: 23rem;

}
.div-cuerpo2{
    display: flex;
    flex-direction: row;
    
}

.cuerpo-boton{
    display: inline;
    font-family: 'Secular One', sans-serif;
    color: #4244d1;
    font-weight: 600;
    justify-content: center;
    flex-direction: line;
    margin-right: 2rem;
}

.fa-shield-blank{
    color: rgb(218, 218, 7);
    background-color: rgb(245, 245, 223);
    padding: .2rem;
    margin-right: .5rem;
    
}

.fa-star{
    color: rgb(218, 218, 7);
    background-color: rgb(245, 245, 223);
    padding: .2rem;
    margin-right: .5rem;

}

.cuadro{
   
    position: absolute;
    margin-top: 35rem;
    margin-right: 15rem;
    box-shadow:.3rem .3rem .3rem gray;
    background-color: rgb(255, 255, 255);
    width: 50rem;
    height: 7rem;
}
.textocuadro{
    align-items: center;
    display:inline;
    font-weight: 600;
    flex-direction: line;
    font-family: 'Fredoka', sans-serif; ;
    justify-content: left;
    margin-right: 6rem; 
    margin-top:  3rem; ;
    margin-left: 2rem;
    color: rgb(134, 150, 180);
    font-size: 18px;
    
}

.fa-location-pin{

    color: rgb(15, 7, 128);
    margin-right: .5rem;
    width: 1rem;
    height: auto;
}

.fa-calendar{
    color: rgb(15, 7, 128);
    margin-right: .5rem;
    width: 1rem;
    height: auto; 
}

.fa-syringe{
    color: rgb(15, 7, 128);
    margin-right: .5rem;
    width: 1rem;
    height: auto; 
}

.respuestas{
    display:inline;
    font-weight: 600;
    font-family: 'Fredoka', sans-serif; ;
    margin-right: 3rem; ;
    margin-left:2rem;
    color: rgb(0, 12, 119);
    font-size: 22px;
}

.botoncuadro{

    position: absolute;
    border:none;
    border-radius: .5rem;
    background: rgb(56,88,214);
    background: linear-gradient(90deg, rgba(56,88,214,1) 0%, rgba(45,77,203,1) 70%, rgba(42,74,200,1) 100%);
    padding: 1rem;
    box-shadow: .15rem .15rem .15rem gray;
    color: #ffff;
    font-family: 'Fredoka', sans-serif; 
    font-size: 1rem;
    font-weight: 600;
    margin-left: 38rem;
    margin-top: -2.6rem;
    padding-left:4rem;
    padding-right: 4rem;
}

.botoncuadro:hover{
    background: rgb(38, 59, 145);
    background: linear-gradient(90deg, rgb(39, 60, 146) 0%, rgb(32, 54, 145) 70%, rgb(18, 41, 131) 100%);
}
.botoncuadro:active{
    color: #ffff;
    background-color:#051927 ;
}

.imagenvacunas{
    flex-direction: al;
    width: 10rem;
    height: auto;
    margin-top: -2rem;
}

.imagenvacunas1{
    flex-direction: al;
    width: 15rem;
    height: auto;
    margin-bottom: 1.5rem;
}

.cuadrovacunas{
    filter: contrast(0) brightness(170%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
}

.div-cuerpo3{
    display: flex;
    flex-direction: column; 
    margin-right: 43rem;
    justify-content: center;
}

.titulocuerpo2{
    background-color: rgb(255, 255, 255);
    display: flexbox;
    font-family: 'Fredoka', sans-serif; 
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(7, 7, 97);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-left: 22rem;
    margin-bottom: 1rem;
}
.titulocuerpo3{
    background-color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(165, 165, 218);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-left: 22rem;
    margin-right: 12rem;

}

.cuadrobeneficios{
    
    display: flex;
    justify-content: space-around;
margin-left: 17rem;
    box-shadow: .2rem .2rem .2rem rgb(96, 118, 212);
    background-color: rgb(255, 255, 255);
    width: 85rem;
    height: 20rem;

}

.dise単o{
    text-decoration: none;
    justify-content: left;
    display: inline;
    padding: 2rem;
    
    
}
.dise単o:hover{
    background-color: #8586d8;
    box-shadow:.3rem .3rem .3rem #4244d1;

}

.titulo1{
    
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(87, 87, 156);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}
.titulo2{
    font-family: 'Fredoka', sans-serif; 
    font-size: 1rem;
    font-weight: 1000;
    color: rgb(87, 87, 156);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

}

.fa-virus-covid-slash{
    display: flexbox;
    color: #4244d1;
    background-color: #e6f0f7;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem#8586d8;
}



.fa-shield-virus{
    display: flexbox;
    color: #4244d1;
    background-color: #e6f0f7;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem#8586d8;
}

.fa-users{
    display: flexbox;
    color: #4244d1;
    background-color: #e6f0f7;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem#8586d8;
}

.fa-face-smile{
    display: flexbox;
    color: #4244d1;
    background-color: #e6f0f7;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem#8586d8;
}

.text-center{
    text-align: center;
}

.cuadrotexto3{
    display: flex;
    justify-content: center;
}
.imagen2{
    background: rgb(38, 59, 145);
    background: linear-gradient(90deg, rgb(39, 60, 146) 0%, rgb(32, 54, 145) 70%, rgb(18, 41, 131) 100%);
}

.cuadrotexto4{
    margin-top: 6rem;
}

.cuadrotexto5{
    margin-top: 10rem;
    margin-left: -18rem;
}

.nav{
    font-family: 'Fredoka', sans-serif; 
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 21rem;
    width: 45rem;
}
.list__item{
    list-style: none;
    width: 100%;
    text-align: start;

}
.list__item--click{
    cursor: pointer;
}

.nav__link:hover{
    
    border-radius: 1rem;
    

}

.nav__link{
    font-size: 22px;
    font-weight: 600;
     color: #051927;
     display: block;
     padding-bottom: .2rem;
     width: 44rem;
     text-decoration: none;
}

.list__show{
    width: 80%;
    border-left: 2px #bfc9e9;
    margin-left: 1rem;
    margin-bottom: 2rem;
    list-style: none;
    transition: height .4s;
    height: 0;
    overflow:hidden;
    background-color:#cbcbf1;
    box-shadow: .3rem .3rem .3rem#c9caf1;
    border-radius: 1rem;
    

}

.nav__link--inside{

    color: #051927;
    display: block;
    padding: 15px;
    width: 40rem;
    text-decoration: none;
    text-align: start;
    
}
.nav__link--inside:hover{

    border-radius: 1rem;
}

.list__img{
    color: #01036b;
    background-color: #cfd0fc;
    padding: 10px;
    border-radius: .3rem;
    
}

.list__img2{
    transform: rotate(-90deg);
    display: flexbox;
    color: #01036b;
    border-radius: .4rem;
    justify-content: space-between;
    transition: transform .3s;
}

.list__img2:hover{
    color: #8586d8;

}
.arrow .list__img2{

    transform: rotate(0);
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
}

.list__inside{

    width: 80%;
    margin-left: auto;
    border-left: 2px #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
    overflow:hidden;
}

.arrow{
    background-color: aliceblue;
    border-radius: 1rem;
    box-shadow: .2rem .2rem .2rem rgb(220, 220, 220);
}

.parte3{
 
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    padding-right: 1rem;

}

.titulocuerpo4{
    margin-top: 8rem;
    background-color: rgb(255, 255, 255);
    display: flexbox;
    font-family: 'Fredoka', sans-serif; 
    font-size: 3rem;
    font-weight: 1000;
    color: rgb(7, 7, 97);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  
    margin-bottom: 1rem;
}
.imagen3{
    margin-top: 12rem;
}


.cuadrotexto6{
    display: flex;
    justify-content: center;
}
.cuadrotexto7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;

}
.titulo3{
    width: 600px;
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(87, 87, 156);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.cuadrocontacto{
display:flex;
flex-wrap: wrap;
 margin-top: -3rem;   
 height: 600px;
 width: 700px;

 justify-content: center;
}

.dise単ocuadro{
    padding: 5rem;
}

.tituloscuadro{
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.5rem;
    color: rgb(10, 10, 83);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.textocuadro2{
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.5rem;
    color: rgb(120, 120, 202);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.fa-phone{
    margin-right: 1rem;
    color: #01036b;
    background-color: #d1d1f1;
    padding: .5rem;
    border-radius: .3rem;
    box-shadow: .2rem .2rem .2rem #bfc9e9;
}

.boton2{
    border:none;
    border-radius: .5rem;
    background: rgb(241, 241, 248);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: .15rem .15rem .15rem rgb(213, 209, 243);
    color: rgb(13, 1, 53);
    font-family: 'Fredoka', sans-serif; 
    font-size: 1rem;
    font-weight: 600;
}



.boton2:hover{
    background: linear-gradient(90deg, rgba(56,88,214,1) 0%, rgba(45,77,203,1) 70%, rgba(42,74,200,1) 100%);
    box-shadow: #4244d1;
}

.boton2:active{
    
    background: rgb(183, 183, 211)
}

.fa-message{
    margin-right: 1rem;
    color: #01036b;
    background-color: #d1d1f1;
    padding: .5rem;
    border-radius: .3rem;
    box-shadow: .2rem .2rem .2rem #bfc9e9;
}

.fa-envelope{
    margin-right: 1rem;
    color: #01036b;
    background-color: #d1d1f1;
    padding: .5rem;
    border-radius: .3rem;
    box-shadow: .2rem .2rem .2rem #bfc9e9;
}

.fa-video{
    margin-right: 1rem;
    color: #01036b;
    background-color: #d1d1f1;
    padding: .5rem;
    border-radius: .3rem;
    box-shadow: .2rem .2rem .2rem #bfc9e9;
}

.piedepagina{
    position:absolute;
    margin-top: 9rem;
    background-color: #e4f3f5;
    height: 500px;
    width: 1850px;
    
}

.dise単ocuadro2{
    display: flex;
    flex-direction: column;
}

.div-display{
    display:inline-flex;
    flex-direction: row;
}
.div-display2{

    display:inline-flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-right: 35rem;
    width: 28rem;
}

.tituloscuadro3{
    font-family: 'Fredoka', sans-serif; 
    font-size: 2rem;
    color: rgb(10, 10, 83);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.textocuadro3{
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-right: 4rem;
    color: rgb(153, 153, 221);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-decoration:none;
    }

.textocuadro3:hover{
    color: #01036b;
}

.textofinal{
    display: inline-flex;
    margin-top: 8rem;
    margin-left: 10rem;
}
.textofinal2{
    display: inline-flex;
    text-decoration: none;
}

.textocuadro4{
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-right: 4rem;
    color: rgb(93, 93, 247);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-decoration:none;
    margin-left: 30rem;
    }

.textocuadro4:hover{
    color: #01036b;
}

.textocuadro5{
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-right: 4rem;
    color: rgb(93, 93, 247);
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    text-decoration:none;
    
    }

.textocuadro5:hover{
    color: #01036b;
}

